@import "../../../../../styles.scss";

.teams{
    padding:30px 15px;
    min-height: 77vh;
    
    h2{
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        font-family: $audio;
    }
    
    .team-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    
      &__card {
        border: solid 2px $lightblue;
        border-radius: 10px;
        background-image: url("https://res.cloudinary.com/dpeadveub/image/upload/v1642933501/kuroko/bg_movie_ezdmyk.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 20px;
        width: 80%;
        max-width:600px;
        position: relative;

        &--info {
            background-color: $secondary-color;
            padding-bottom:20px;
            font-size: 1.5rem;

            h6 {
            padding: 10px;
            border-radius: 7px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
            width: calc(100% - 20px);
            max-width:800px;
            background-color: $orange;
            font-size: 1.8rem;
            }
        }
    
        img{
            object-fit: contain;
            width:75%; 
        }
    
        &:hover{
          cursor: pointer;
        }
      }
    }
}
