
<div class="home">
    <img src="https://res.cloudinary.com/dpeadveub/image/upload/v1642933501/kuroko/Anime_temporada_3_vt5ihm.jpg" alt="kuroko anime">
    <h3><b>Kuroko no Basuke</b>, también conocido cómo Kuroko no Basket o The Basketball Which Kuroko Plays or Kuroko's Basketball, es un manga creado por Shonen Jump. La historia está protagonizada por el Instituto Seirin.</h3>
    <img src="https://res.cloudinary.com/dpeadveub/image/upload/v1642933502/kuroko/Characters_slider_kftupp.png" alt="kuroko collage">
</div>