@import "../../../styles.scss";

.teams{
    padding:30px 15px;
    
    h2{
        color: $orange;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin: 15px;
        font-family: $audio;
    }
    
    .team-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    
      &__card {
        border: solid 2px $lightblue;
        border-radius: 10px;
        margin: 20px;
        height: auto;
        width: 40%;
        max-width:600px;
        position: relative;

        h6 {
            position: absolute;
            bottom: 0;
          padding: 10px;
          border-radius: 7px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          color: $blue;
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          width: calc(100% - 20px);
          max-width:600px;
          background-color: $orange;
          font-size: 1.8rem;
        }
    
        img{
            object-fit: contain;
            width:100%; 
            border-radius: 7px;
        }
    
        &:hover{
          cursor: pointer;
        }
      }
    }
}
